[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/tmttn/kickstart.nvim.git
[submodule "zsh/.oh-my-zsh/custom/plugins/zsh/.oh-my-zsh/custom/plugins/gradle-completion"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh/.oh-my-zsh/custom/plugins/gradle-completion
	url = https://github.com/gradle/gradle-completion
[submodule "zsh/.oh-my-zsh/custom/plugins/zsh/.oh-my-zsh/custom/plugins/_mvnctx"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh/.oh-my-zsh/custom/plugins/_mvnctx
	url = git@github.com:artemy/zsh-mvn-contexts.git
[submodule "/Users/thomasmetten/.dotfiles/zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = /Users/thomasmetten/.dotfiles/zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.oh-my-zsh/custom/plugins/gradle-completion"]
	path = zsh/.oh-my-zsh/custom/plugins/gradle-completion
	url = https://github.com/gradle/gradle-completion
[submodule "/Users/thomasmetten/.dotfiles/zsh/.oh-my-zsh/custom/plugins/zsh-npm-scripts-autocomplete"]
	path = /Users/thomasmetten/.dotfiles/zsh/.oh-my-zsh/custom/plugins/zsh-npm-scripts-autocomplete
	url = git@github.com:grigorii-zander/zsh-npm-scripts-autocomplete.git
